{# file ~/Sites/blog/templates/app/_header.html.twig #}

<section class="header-branding">
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center py-3">
                <a href="{{ path('app_home') }}" class="app-name-link">
                    <span class="app-name">{{ app_name ~ '.' ~ app_domain }}</span>
                </a>
            </div>
        </div>
    </div>
</section>

<nav class="header-navbar">
    <div id="header-links" class="container-fluid">
        <div class="nav nav-pills flex-row flex-nowrap overflow-auto py-2">
            {% set currentRoute = app.request.attributes.get('_route') %}

            {# post #}
            <a class="nav-link text-center {{ currentRoute == 'app_posts' ? 'active' : '' }}" href="{{ path('app_posts') }}">
                {{ 'header.posts' | trans }}
            </a>

            {# categories #}
            <a class="nav-link text-center {{ currentRoute == 'app_categories' ? 'active' : '' }}" href="">
                {{ 'header.categories' | trans }}
            </a>

            {# search #}
            <a class="nav-link text-center {{ currentRoute == 'app_search' ? 'active' : '' }}" href="">
                {{ 'header.search' | trans }}
            </a>

            {# new entry #}
            <a class="nav-link text-center {{ currentRoute == 'app_new_entry' ? 'active' : '' }}" href="">
                {{ 'header.new_entry' | trans }}
            </a>
        </div>
    </div>

    <div class="mobile-hamburger-bar">
        <button
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#aside-mobile"
            aria-label="Open navigation menu"
        >
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</nav>
