{# file ~/Sites/blog/templates/posts/post_preview.html.twig #}

{% from "macros/display_entity_image.html.twig" import display_entity_image %}

<div class="preview-card">
    <div class="preview-header">

        <div class="preview-header-icons">
            <div class="preview-image">
                {{ display_entity_image('post', 'small') }}
            </div>

            <div class="rating-small-cartouche">
                <div class="stars-container">
                    <i class="fas fa-star star-review-icon-mini"></i>
                    <i class="fas fa-star star-review-icon-mini"></i>
                    <i class="far fa-star star-review-icon-mini"></i>
                    <i class="far fa-star star-review-icon-mini"></i>
                    <i class="far fa-star star-review-icon-mini"></i>
                </div>
            </div>
        </div>

        <div class="preview-title">
            <a href="{{ path('app_post', { 'slug': slug }) }}">{{ title }}</a>
        </div>

        <div class="preview-metrics">
            {% if language is defined and language %}
                <div class="preview-metrics-tl">
                    {% if language == 'es' %}
                        <span class="fi fi-es" title="español">&nbsp;</span>
                    {% elseif language == 'el' %}
                        <span class="fi fi-gr" title="ἑλληνικά">&nbsp;</span>
                    {% else %}
                        <span class="fi fi-gb" title="english">&nbsp;</span>
                    {% endif %}
                </div>
            {% endif %}

            {% if diffusio is defined and diffusio %}
                <div class="preview-metrics-tq">
                    <i class="{{ diffusio.iconClass }}" title="{{ diffusio.label }}"></i>
                </div>
            {% endif %}

            {% if category is defined and category %}
                <div class="preview-metrics-tq" title="{{ category.name }}">
                    <span class="registrum-icon">{{ category.id | slice(0, 2) }}</span>
                </div>
            {% endif %}

            {% if status is defined and status %}
                <div class="preview-metrics-tq" title="{{ status.label | trans }}">
                    <span class="registrum-icon">{{ status.value }}</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="preview-body">
        <b>WHEN</b> {{ date }}

        {% if category is defined and category %}
            <b>CATEGORY</b> {{ category.name }}
        {% endif %}

        <b>WHAT</b> {{ excerpt | raw }}
        <input
            type="button"
            value="see more..."
            onclick="window.location.href='{{ path('app_post', { 'slug': slug }) }}'"
            class="btn-see-more"
        >
    </div>

    <div class="preview-footer">
        {# future metadata hooks #}
    </div>
</div>
