{# file ~/Sites/blog/templates/posts/posts.html.twig #}

{% extends 'app/base.html.twig' %}

{% block title %}
    {{ 'blog posts' | trans }}
{% endblock %}

{% block main %}
    <div class="posts-container">
        <header class="posts-header">
            <h1 class="page-title">{{ 'blog posts'|trans }}</h1>
            <p class="locale-indicator">
                {{ 'showing all posts'|trans }}
            </p>
        </header>

        <hr class="section-divider" />

        {# posts feed #}
        {% if posts is defined and posts is not empty %}
            <div class="posts-grid">
                {{ include('posts/_posts_list.html.twig', {'posts': posts}) }}
            </div>
        {% else %}
            <section class="empty-posts-state">
                <p>{{ 'no posts found.'|trans }}</p>
            </section>
        {% endif %}
    </div>
{% endblock %}
